<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../Scripts/angularjs-dropdown-multiselect.js"></script>
    <link href="../../Content/CustomStyle.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/controllers.js"></script>
    <script src="../Scripts/services.js"></script>
    <link href="../../Content/CustomStyle.css" rel="stylesheet" />
    <link href="../../Content/SideBar.css" rel="stylesheet" />
    <script src="../Scripts/directives.js"></script>
    <script src="../../Scripts/dirPagination.js"></script>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/angular-local-storage.js"></script>
   
    <script src="../Scripts/multiselect.js"></script>
    <link href="../../Content/multiselect.css" rel="stylesheet" />
 </head>
<body>
   
   <div class="container">
       <navigationbar>
                   
       </navigationbar>
       <ul>
          
       </ul> 
       <div ng-view></div>
      
   </div>
</body>
</html>