<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <link href="../../Content/CustomStyle.css" rel="stylesheet" />
    <link href="../../Content/SideBar.css" rel="stylesheet" />

    <script src="../../Scripts/dirPagination.js"></script>

    <link href="../../Content/Site.css" rel="stylesheet" />

    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../Scripts/Post.js"></script>
    <script src="../Scripts/Tag.js"></script>
    <script src="../Scripts/Category.js"></script>
</head>
<body ng-app="PostModule">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Blogging</a>
            </div>
            <ul class="nav navbar-nav" style="float:right">
                <li><a href="http://localhost:57649/BlogApp/Views/Admin/Index.html">Admin</a></li>
                <li><a href="http://localhost:57649/BlogApp/Views/CreatePost1.html">Create Post</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
    </nav>



</body>
</html>